* {
  margin: 0;
  padding: 0;
  margin: 10px 10px;
}
body {
  overflow: hidden;
  background-color: #0b1026;
  color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-part {
  display: flex;
  align-items: center;
}
.logo-part img {
  width: 150px;
}
.logo-part p {
  font-size: 30px;
  margin-left: -2px;
}
.logo-part img + img {
  width: 30px;
}
.search img {
  width: 70px;
}
.search {
  display: flex;
  align-items: center;
}
.search img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.search input {
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 5px;
}
.container {
  display: grid;
  grid-template-columns: 700px 700px;
  gap: 10px;
}
.left {
  width: 700px;
  background-color: #141a40;
  height: 555px;
  overflow: hidden;
  overflow-y: scroll;
}
.right {
  width: 700px;
  background-color: #141a40;
  height: 555px;
  overflow: hidden;
  overflow-y: scroll;
}
.play-btn {
  background: linear-gradient(to right, #74028a, #1d11d0);
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #2e2e78;
}

.artist {
  display: flex;
}
.artist img {
  width: 300px;
  height: 300px;
}
.follower {
  float: right;
  position: relative;
  top: -65px;
}
.songs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  display: flex;
}

.info img {
  width: 70px;
}
.like {
  display: flex;
  align-items: center;
}
.similar {
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: -10px;
  width: 100%;
  left: -9px;
  display: flex;
  justify-content: space-between;
  background-color: #5c60a0;
  height: 100px;
  color: #fff;
}
.image-name {
  height: 100px;
  display: flex;
}

.image-name img {
  width: 70px;
}

.slider {
  width: 600px;
}
.play {
  display: flex;
  align-items: center;
  justify-content: center;
}
.play img {
  width: 20px;
}
.volume,
.volume-slider {
  display: flex;

  align-items: center;
}
.volume img {
  width: 20px;
}
.volume-slider img {
  width: 20px;
}
